section.repository-list {
    margin: 48px

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none;

        li {
            background: linear-gradient(309.28deg, #FDE3E3 3.45%, #DD4F4F 97.64%);
            & + li{
                margin-top: 28px;
            }

            p {
                font-size: 14px;
                color: rgb(46, 45, 45);
                margin-top: 8px;
            }

            a {
                display: inline-block;
                margin-top: 10px;
                text-decoration: none;
                color: #6949b4;
                background: rgba(0, 0, 0, 0.1);
                border-radius: 10px;
            }
        }
    }
}